# Recommender Systems

**What is a recommender system?**

The goal of recommender systems is to predict the preferences or interests of users and recommend items (such as products, movies, music, articles, or other content) that are likely to be of interest to them.

**Why are recommender systems important?**

- Content discovery
- Personalization
- Increase in sales

Practical applications of recommender systems include:

- Amazon product recommendations
- Netflix movie recommendations
- Spotify music recommendations
- Facebook friend suggestions
- LinkedIn job suggestions
- YouTube video recommendations
- Google search suggestions
- Google News personalization
- Airbnb personalized search results
- Reddit comment recommendations
- Twitter personalized feed

**Types of recommender systems**

1. **Collaborative Filtering:**
   - **User-based:** Recommends items based on the preferences of users who are similar to the target user.
   - **Item-based:** Recommends items similar to those that the target user has liked or interacted with.

2. **Content-Based Filtering:**
   - Recommends items based on the characteristics or features of the items and the user's past preferences.
   - This approach focuses on the content of the items and the user's profile.

3. **Hybrid Methods:**
   - Combines both collaborative filtering and content-based filtering to leverage the strengths of each approach.

4. **Matrix Factorization:**
   - Techniques like Singular Value Decomposition (SVD) or matrix factorization methods are used to identify latent factors that influence user preferences.

5. **Deep Learning-Based Recommenders:**
   - Utilizes neural networks and deep learning techniques to capture complex patterns and relationships in user behavior and item features.

[Data Source](https://www.kaggle.com/datasets/danielgrijalvas/movies)

In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('data/movies.csv')
# print total number of rows
print(len(df))
df.head()

7668

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [6]:
#Clean the data
df.dropna(inplace=True)
df.drop(["year", "released", 'votes', 'writer', 'country', 'budget', 'gross'], axis=1, inplace=True)

In [40]:
print(len(df))
df.head()

5421

,name,rating,genre,score,director,star,company,runtime,combined
0,The Shining,R,Drama,8.4,Stanley Kubrick,Jack Nicholson,Warner Bros.,146.0,The Shining R Drama 8.4 Stanley Kubrick Jack ...
1,The Blue Lagoon,R,Adventure,5.8,Randal Kleiser,Brooke Shields,Columbia Pictures,104.0,The Blue Lagoon R Adventure 5.8 Randal Kleise...
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,8.7,Irvin Kershner,Mark Hamill,Lucasfilm,124.0,Star Wars: Episode V - The Empire Strikes Bac...
3,Airplane!,PG,Comedy,7.7,Jim Abrahams,Robert Hays,Paramount Pictures,88.0,Airplane! PG Comedy 7.7 Jim Abrahams Robert H...
4,Caddyshack,R,Comedy,7.3,Harold Ramis,Chevy Chase,Orion Pictures,98.0,Caddyshack R Comedy 7.3 Harold Ramis Chevy Ch...

### Content Based

- Focuses on item features. 
- Recommends items similar to those that the target user has liked or interacted with.

In [8]:
def all_into_1_column(df, cols):
    features = []
    #looping over all elements in df
    for i in range(df.shape[0]):
        to_add = " "
        #looping over all important columns
        for j in range(len(cols)):
            #adding data from each row in these columns one by one
            to_add += str(df[cols[j]][i]) + ' '
        #adding the features in the list for it to become a column in our dataframe
        features.append(to_add)
    return features

In [9]:
df.reset_index(drop=True, inplace=True)
#since some of the rows were removed
df['combined'] = all_into_1_column(df, df.columns.tolist())

In [10]:
df.head()

,name,rating,genre,score,director,star,company,runtime,combined
0,The Shining,R,Drama,8.4,Stanley Kubrick,Jack Nicholson,Warner Bros.,146.0,The Shining R Drama 8.4 Stanley Kubrick Jack ...
1,The Blue Lagoon,R,Adventure,5.8,Randal Kleiser,Brooke Shields,Columbia Pictures,104.0,The Blue Lagoon R Adventure 5.8 Randal Kleise...
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,8.7,Irvin Kershner,Mark Hamill,Lucasfilm,124.0,Star Wars: Episode V - The Empire Strikes Bac...
3,Airplane!,PG,Comedy,7.7,Jim Abrahams,Robert Hays,Paramount Pictures,88.0,Airplane! PG Comedy 7.7 Jim Abrahams Robert H...
4,Caddyshack,R,Comedy,7.3,Harold Ramis,Chevy Chase,Orion Pictures,98.0,Caddyshack R Comedy 7.3 Harold Ramis Chevy Ch...

In [13]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

matrix = CountVectorizer().fit_transform(df["combined"])

In [39]:
matrix.shape

(5421, 9778)

In [14]:
cs_matrix = cosine_similarity(matrix)

In [15]:
cs_matrix

array([[1.        , 0.09534626, 0.08164966, ..., 0.        , 0.153393  ,
        0.07905694],
       [0.09534626, 1.        , 0.07784989, ..., 0.18181818, 0.21938173,
        0.07537784],
       [0.08164966, 0.07784989, 1.        , ..., 0.07784989, 0.18786729,
        0.12909944],
       ...,
       [0.        , 0.18181818, 0.07784989, ..., 1.        , 0.14625448,
        0.        ],
       [0.153393  , 0.21938173, 0.18786729, ..., 0.14625448, 1.        ,
        0.12126781],
       [0.07905694, 0.07537784, 0.12909944, ..., 0.        , 0.12126781,
        1.        ]])

In [16]:
#we got the index of the row containing the movie in the df
index = df[df["name"] == "Superman II"].index[0]

#get a list of the scores for this specific movie/row
scores = list(enumerate(cs_matrix[index]))

#sort this list in reverse order for easier access
scores = sorted(scores, key=lambda x:x[1], reverse=True)
scores

[(8, 1.0000000000000002),
 (180, 0.6363636363636365),
 (1107, 0.3481553119113957),
 (2461, 0.3223291856101521),
 (567, 0.3113995776646092),
 (4245, 0.3113995776646092),
 (209, 0.2860387767736777),
 (222, 0.2860387767736777),
 (464, 0.2860387767736777),
 (513, 0.2860387767736777),
 (804, 0.2860387767736777),
 (989, 0.2860387767736777),
 (1549, 0.2860387767736777),
 (1995, 0.2860387767736777),
 (2484, 0.2860387767736777),
 (3853, 0.2860387767736777),
 (4488, 0.2860387767736777),
 (1405, 0.2842676218074806),
 (301, 0.2727272727272727),
 (327, 0.2727272727272727),
 (341, 0.2727272727272727),
 (505, 0.2727272727272727),
 (790, 0.2727272727272727),
 (1090, 0.2727272727272727),
 (2460, 0.2727272727272727),
 (2633, 0.2727272727272727),
 (2785, 0.2727272727272727),
 (3033, 0.2727272727272727),
 (3314, 0.2727272727272727),
 (3348, 0.2727272727272727),
 (3704, 0.2727272727272727),
 (3730, 0.2727272727272727),
 (4416, 0.2727272727272727),
 (4625, 0.2727272727272727),
 (4855, 0.2727272727272727),
 (4947, 0.2727272727272727),
 (101, 0.2611164839335468),
 (444, 0.2611164839335468),
 (651, 0.2611164839335468),
 (1244, 0.2611164839335468),
 (1837, 0.2611164839335468),
 (2926, 0.2611164839335468),
 (3264, 0.2611164839335468),
 (3331, 0.2611164839335468),
 (3618, 0.2611164839335468),
 (4106, 0.2611164839335468),
 (4146, 0.2611164839335468),
 (4452, 0.2611164839335468),
 (4546, 0.2611164839335468),
 (4613, 0.2611164839335468),
 (4739, 0.2611164839335468),
 (4751, 0.2611164839335468),
 (4837, 0.2611164839335468),
 (4916, 0.2611164839335468),
 (5134, 0.2611164839335468),
 (5395, 0.2611164839335468),
 (54, 0.2508726030021272),
 (141, 0.2508726030021272),
 (509, 0.2508726030021272),
 (973, 0.2508726030021272),
 (1294, 0.2508726030021272),
 (1378, 0.2508726030021272),
 (2022, 0.2508726030021272),
 (2271, 0.2508726030021272),
 (2831, 0.2508726030021272),
 (2905, 0.2508726030021272),
 (3129, 0.2508726030021272),
 (5131, 0.2508726030021272),
 (278, 0.24174688920761409),
 (368, 0.24174688920761409),
 (411, 0.24174688920761409),
 (919, 0.24174688920761409),
 (1182, 0.24174688920761409),
 (1232, 0.24174688920761409),
 (2059, 0.24174688920761409),
 (3066, 0.24174688920761409),
 (3320, 0.24174688920761409),
 (3927, 0.24174688920761409),
 (4332, 0.24174688920761409),
 (4531, 0.24174688920761409),
 (4631, 0.24174688920761409),
 (4866, 0.24174688920761409),
 (519, 0.23354968324845687),
 (828, 0.23354968324845687),
 (1259, 0.23354968324845687),
 (2607, 0.23354968324845687),
 (2673, 0.23354968324845687),
 (2797, 0.23354968324845687),
 (2996, 0.23354968324845687),
 (4891, 0.23354968324845687),
 (4972, 0.23354968324845687),
 (114, 0.22613350843332272),
 (176, 0.22613350843332272),
 (197, 0.22613350843332272),
 (773, 0.22613350843332272),
 (915, 0.22613350843332272),
 (2262, 0.22613350843332272),
 (2591, 0.22613350843332272),
 (3627, 0.22613350843332272),
 (4516, 0.22613350843332272),
 (1094, 0.2193817272381392),
 (291, 0.21320071635561044),
 (499, 0.21320071635561044),
 (3855, 0.21320071635561044),
 (3427, 0.21320071635561041),
 (418, 0.20100756305184242),
 (991, 0.20100756305184242),
 (1540, 0.20100756305184242),
 (1578, 0.20100756305184242),
 (1859, 0.20100756305184242),
 (2616, 0.20100756305184242),
 (2693, 0.20100756305184242),
 (3189, 0.20100756305184242),
 (3945, 0.20100756305184242),
 (4258, 0.20100756305184242),
 (4361, 0.20100756305184242),
 (5239, 0.20100756305184242),
 (1031, 0.19284730395996746),
 (16, 0.19069251784911848),
 (66, 0.19069251784911848),
 (111, 0.19069251784911848),
 (186, 0.19069251784911848),
 (188, 0.19069251784911848),
 (190, 0.19069251784911848),
 (203, 0.19069251784911848),
 (259, 0.19069251784911848),
 (287, 0.19069251784911848),
 (360, 0.19069251784911848),
 (426, 0.19069251784911848),
 (470, 0.19069251784911848),
 (522, 0.19069251784911848),
 (536, 0.19069251784911848),
 (548, 0.19069251784911848),
 (570, 0.19069251784911848),
 (596, 0.19069251784911848),
 (649, 0.19069251784911848),
 (657, 0.19069251784911848),
 (795, 0.19069251784911848),
 (812, 0.19069251784911848),
 (826, 0.19069251784911848),
 (922, 0.19069251784911848),
 (1014, 0.19069251784911848),
 (1154, 0.19069251784911848),
 (1165, 0.19069251784911848),
 (1256, 0.19069251784911848),
 (1329, 0.19069251784911848),
 (1390, 0.19069251784911848),
 (1497, 0.19069251784911848),
 (1551, 0.19069251784911848),
 (1845, 0.19069251784911848),
 (1949, 0.19069251784911848),
 (2323, 0.19069251784911848),
 (2324, 0.19069251784911848),
 (2724, 0.19069251784911848),
 (2782, 0.19069251784911848),
 (2982, 0.19069251784911848),
 (3028, 0.19069251784911848),
 (3112, 0.19069251784911848),
 (3161, 0.19069251784911848),
 (3360, 0.19069251784911848),
 (3532, 0.19069251784911848),
 (3569, 0.19069251784911848),
 (3613, 0.19069251784911848),
 (3666, 0.19069251784911848),
 (3873, 0.19069251784911848),
 (3970, 0.19069251784911848),
 (3974, 0.19069251784911848),
 (4057, 0.19069251784911848),
 (4082, 0.19069251784911848),
 (4117, 0.19069251784911848),
 (4119, 0.19069251784911848),
 (4149, 0.19069251784911848),
 (4308, 0.19069251784911848),
 (4328, 0.19069251784911848),
 (4354, 0.19069251784911848),
 (4454, 0.19069251784911848),
 (4469, 0.19069251784911848),
 (4606, 0.19069251784911848),
 (4645, 0.19069251784911848),
 (4690, 0.19069251784911848),
 (4731, 0.19069251784911848),
 (4939, 0.19069251784911848),
 (4959, 0.19069251784911848),
 (4976, 0.19069251784911848),
 (5037, 0.19069251784911848),
 (5073, 0.19069251784911848),
 (5214, 0.19069251784911848),
 (52, 0.18181818181818182),
 (116, 0.18181818181818182),
 (118, 0.18181818181818182),
 (146, 0.18181818181818182),
 (202, 0.18181818181818182),
 (230, 0.18181818181818182),
 (289, 0.18181818181818182),
 (346, 0.18181818181818182),
 (363, 0.18181818181818182),
 (389, 0.18181818181818182),
 (419, 0.18181818181818182),
 (440, 0.18181818181818182),
 (582, 0.18181818181818182),
 (592, 0.18181818181818182),
 (601, 0.18181818181818182),
 (628, 0.18181818181818182),
 (689, 0.18181818181818182),
 (725, 0.18181818181818182),
 (744, 0.18181818181818182),
 (775, 0.18181818181818182),
 (858, 0.18181818181818182),
 (872, 0.18181818181818182),
 (893, 0.18181818181818182),
 (951, 0.18181818181818182),
 (966, 0.18181818181818182),
 (1209, 0.18181818181818182),
 (1348, 0.18181818181818182),
 (1372, 0.18181818181818182),
 (1455, 0.18181818181818182),
 (1498, 0.18181818181818182),
 (1519, 0.18181818181818182),
 (1538, 0.18181818181818182),
 (1698, 0.18181818181818182),
 (1710, 0.18181818181818182),
 (1718, 0.18181818181818182),
 (1884, 0.18181818181818182),
 (1940, 0.18181818181818182),
 (1946, 0.18181818181818182),
 (1991, 0.18181818181818182),
 (2064, 0.18181818181818182),
 (2266, 0.18181818181818182),
 (2297, 0.18181818181818182),
 (2400, 0.18181818181818182),
 (2430, 0.18181818181818182),
 (2512, 0.18181818181818182),
 (2518, 0.18181818181818182),
 (2526, 0.18181818181818182),
 (2541, 0.18181818181818182),
 (2567, 0.18181818181818182),
 (2615, 0.18181818181818182),
 (2621, 0.18181818181818182),
 (2652, 0.18181818181818182),
 (2690, 0.18181818181818182),
 (2739, 0.18181818181818182),
 (2768, 0.18181818181818182),
 (2799, 0.18181818181818182),
 (2821, 0.18181818181818182),
 (2841, 0.18181818181818182),
 (2927, 0.18181818181818182),
 (2985, 0.18181818181818182),
 (2995, 0.18181818181818182),
 (3024, 0.18181818181818182),
 (3086, 0.18181818181818182),
 (3130, 0.18181818181818182),
 (3172, 0.18181818181818182),
 (3191, 0.18181818181818182),
 (3197, 0.18181818181818182),
 (3299, 0.18181818181818182),
 (3309, 0.18181818181818182),
 (3355, 0.18181818181818182),
 (3364, 0.18181818181818182),
 (3389, 0.18181818181818182),
 (3403, 0.18181818181818182),
 (3408, 0.18181818181818182),
 (3437, 0.18181818181818182),
 (3451, 0.18181818181818182),
 (3513, 0.18181818181818182),
 (3590, 0.18181818181818182),
 (3592, 0.18181818181818182),
 (3598, 0.18181818181818182),
 (3621, 0.18181818181818182),
 (3639, 0.18181818181818182),
 (3703, 0.18181818181818182),
 (3739, 0.18181818181818182),
 (3767, 0.18181818181818182),
 (3809, 0.18181818181818182),
 (3829, 0.18181818181818182),
 (3833, 0.18181818181818182),
 (3852, 0.18181818181818182),
 (3866, 0.18181818181818182),
 (3900, 0.18181818181818182),
 (3906, 0.18181818181818182),
 (3915, 0.18181818181818182),
 (3963, 0.18181818181818182),
 (3968, 0.18181818181818182),
 (3989, 0.18181818181818182),
 (4026, 0.18181818181818182),
 (4047, 0.18181818181818182),
 (4053, 0.18181818181818182),
 (4065, 0.18181818181818182),
 (4130, 0.18181818181818182),
 (4167, 0.18181818181818182),
 (4181, 0.18181818181818182),
 (4182, 0.18181818181818182),
 (4261, 0.18181818181818182),
 (4289, 0.18181818181818182),
 (4412, 0.18181818181818182),
 (4433, 0.18181818181818182),
 (4483, 0.18181818181818182),
 (4487, 0.18181818181818182),
 (4557, 0.18181818181818182),
 (4573, 0.18181818181818182),
 (4584, 0.18181818181818182),
 (4594, 0.18181818181818182),
 (4618, 0.18181818181818182),
 (4639, 0.18181818181818182),
 (4646, 0.18181818181818182),
 (4651, 0.18181818181818182),
 (4677, 0.18181818181818182),
 (4700, 0.18181818181818182),
 (4713, 0.18181818181818182),
 (4757, 0.18181818181818182),
 (4763, 0.18181818181818182),
 (4781, 0.18181818181818182),
 (4785, 0.18181818181818182),
 (4864, 0.18181818181818182),
 (4865, 0.18181818181818182),
 (4870, 0.18181818181818182),
 (4906, 0.18181818181818182),
 (4918, 0.18181818181818182),
 (4936, 0.18181818181818182),
 (4942, 0.18181818181818182),
 (4983, 0.18181818181818182),
 (4995, 0.18181818181818182),
 (5012, 0.18181818181818182),
 (5015, 0.18181818181818182),
 (5018, 0.18181818181818182),
 (5077, 0.18181818181818182),
 (5083, 0.18181818181818182),
 (5105, 0.18181818181818182),
 (5164, 0.18181818181818182),
 (5178, 0.18181818181818182),
 (5211, 0.18181818181818182),
 (5233, 0.18181818181818182),
 (5252, 0.18181818181818182),
 (5254, 0.18181818181818182),
 (5287, 0.18181818181818182),
 (5297, 0.18181818181818182),
 (5307, 0.18181818181818182),
 (5316, 0.18181818181818182),
 (5367, 0.18181818181818182),
 (5398, 0.18181818181818182),
 (11, 0.17407765595569785),
 (20, 0.17407765595569785),
 (28, 0.17407765595569785),
 (30, 0.17407765595569785),
 (98, 0.17407765595569785),
 (122, 0.17407765595569785),
 (144, 0.17407765595569785),
 (216, 0.17407765595569785),
 (234, 0.17407765595569785),
 (246, 0.17407765595569785),
 (260, 0.17407765595569785),
 (268, 0.17407765595569785),
 (274, 0.17407765595569785),
 (296, 0.17407765595569785),
 (304, 0.17407765595569785),
 (366, 0.17407765595569785),
 (373, 0.17407765595569785),
 (406, 0.17407765595569785),
 (452, 0.17407765595569785),
 (474, 0.17407765595569785),
 (506, 0.17407765595569785),
 (530, 0.17407765595569785),
 (547, 0.17407765595569785),
 (566, 0.17407765595569785),
 (571, 0.17407765595569785),
 (602, 0.17407765595569785),
 (635, 0.17407765595569785),
 (646, 0.17407765595569785),
 (650, 0.17407765595569785),
 (733, 0.17407765595569785),
 (798, 0.17407765595569785),
 (857, 0.17407765595569785),
 (898, 0.17407765595569785),
 (952, 0.17407765595569785),
 (967, 0.17407765595569785),
 (1012, 0.17407765595569785),
 (1123, 0.17407765595569785),
 (1142, 0.17407765595569785),
 (1172, 0.17407765595569785),
 (1254, 0.17407765595569785),
 (1281, 0.17407765595569785),
 (1338, 0.17407765595569785),
 (1340, 0.17407765595569785),
 (1358, 0.17407765595569785),
 (1362, 0.17407765595569785),
 (1410, 0.17407765595569785),
 (1416, 0.17407765595569785),
 (1442, 0.17407765595569785),
 (1447, 0.17407765595569785),
 (1451, 0.17407765595569785),
 (1477, 0.17407765595569785),
 (1486, 0.17407765595569785),
 (1510, 0.17407765595569785),
 (1520, 0.17407765595569785),
 (1553, 0.17407765595569785),
 (1568, 0.17407765595569785),
 (1572, 0.17407765595569785),
 (1590, 0.17407765595569785),
 (1648, 0.17407765595569785),
 (1651, 0.17407765595569785),
 (1654, 0.17407765595569785),
 (1658, 0.17407765595569785),
 (1705, 0.17407765595569785),
 (1738, 0.17407765595569785),
 (1753, 0.17407765595569785),
 (1776, 0.17407765595569785),
 (1808, 0.17407765595569785),
 (1810, 0.17407765595569785),
 (1813, 0.17407765595569785),
 (1834, 0.17407765595569785),
 (1899, 0.17407765595569785),
 (1954, 0.17407765595569785),
 (1970, 0.17407765595569785),
 (1973, 0.17407765595569785),
 (1979, 0.17407765595569785),
 (1992, 0.17407765595569785),
 (2000, 0.17407765595569785),
 (2014, 0.17407765595569785),
 (2035, 0.17407765595569785),
 (2040, 0.17407765595569785),
 (2051, 0.17407765595569785),
 (2057, 0.17407765595569785),
 (2093, 0.17407765595569785),
 (2123, 0.17407765595569785),
 (2164, 0.17407765595569785),
 (2170, 0.17407765595569785),
 (2174, 0.17407765595569785),
 (2217, 0.17407765595569785),
 (2221, 0.17407765595569785),
 (2230, 0.17407765595569785),
 (2261, 0.17407765595569785),
 (2289, 0.17407765595569785),
 (2317, 0.17407765595569785),
 (2321, 0.17407765595569785),
 (2326, 0.17407765595569785),
 (2336, 0.17407765595569785),
 (2346, 0.17407765595569785),
 (2429, 0.17407765595569785),
 (2436, 0.17407765595569785),
 (2447, 0.17407765595569785),
 (2524, 0.17407765595569785),
 (2565, 0.17407765595569785),
 (2576, 0.17407765595569785),
 (2578, 0.17407765595569785),
 (2627, 0.17407765595569785),
 (2646, 0.17407765595569785),
 (2672, 0.17407765595569785),
 (2706, 0.17407765595569785),
 (2713, 0.17407765595569785),
 (2758, 0.17407765595569785),
 (2777, 0.17407765595569785),
 (2787, 0.17407765595569785),
 (2795, 0.17407765595569785),
 (2834, 0.17407765595569785),
 (2838, 0.17407765595569785),
 (2854, 0.17407765595569785),
 (2866, 0.17407765595569785),
 (2868, 0.17407765595569785),
 (2870, 0.17407765595569785),
 (2921, 0.17407765595569785),
 (2928, 0.17407765595569785),
 (2945, 0.17407765595569785),
 (2953, 0.17407765595569785),
 (2957, 0.17407765595569785),
 (2965, 0.17407765595569785),
 (3002, 0.17407765595569785),
 (3004, 0.17407765595569785),
 (3012, 0.17407765595569785),
 (3052, 0.17407765595569785),
 (3072, 0.17407765595569785),
 (3083, 0.17407765595569785),
 (3088, 0.17407765595569785),
 (3108, 0.17407765595569785),
 (3122, 0.17407765595569785),
 (3138, 0.17407765595569785),
 (3142, 0.17407765595569785),
 (3147, 0.17407765595569785),
 (3245, 0.17407765595569785),
 (3259, 0.17407765595569785),
 (3267, 0.17407765595569785),
 (3280, 0.17407765595569785),
 (3294, 0.17407765595569785),
 (3316, 0.17407765595569785),
 (3415, 0.17407765595569785),
 (3418, 0.17407765595569785),
 (3467, 0.17407765595569785),
 (3470, 0.17407765595569785),
 (3500, 0.17407765595569785),
 (3514, 0.17407765595569785),
 (3556, 0.17407765595569785),
 (3620, 0.17407765595569785),
 (3624, 0.17407765595569785),
 (3630, 0.17407765595569785),
 (3633, 0.17407765595569785),
 (3635, 0.17407765595569785),
 (3655, 0.17407765595569785),
 (3661, 0.17407765595569785),
 (3690, 0.17407765595569785),
 (3710, 0.17407765595569785),
 (3715, 0.17407765595569785),
 (3731, 0.17407765595569785),
 (3734, 0.17407765595569785),
 (3757, 0.17407765595569785),
 (3769, 0.17407765595569785),
 (3805, 0.17407765595569785),
 (3815, 0.17407765595569785),
 (3838, 0.17407765595569785),
 (3859, 0.17407765595569785),
 (3911, 0.17407765595569785),
 (3917, 0.17407765595569785),
 (3938, 0.17407765595569785),
 (3948, 0.17407765595569785),
 (3949, 0.17407765595569785),
 (3950, 0.17407765595569785),
 (3962, 0.17407765595569785),
 (4069, 0.17407765595569785),
 (4075, 0.17407765595569785),
 (4081, 0.17407765595569785),
 (4099, 0.17407765595569785),
 (4105, 0.17407765595569785),
 (4111, 0.17407765595569785),
 (4126, 0.17407765595569785),
 (4128, 0.17407765595569785),
 (4136, 0.17407765595569785),
 (4168, 0.17407765595569785),
 (4187, 0.17407765595569785),
 (4227, 0.17407765595569785),
 (4237, 0.17407765595569785),
 (4253, 0.17407765595569785),
 (4316, 0.17407765595569785),
 (4331, 0.17407765595569785),
 (4393, 0.17407765595569785),
 (4418, 0.17407765595569785),
 (4420, 0.17407765595569785),
 (4440, 0.17407765595569785),
 (4468, 0.17407765595569785),
 (4474, 0.17407765595569785),
 (4484, 0.17407765595569785),
 (4503, 0.17407765595569785),
 (4512, 0.17407765595569785),
 (4518, 0.17407765595569785),
 (4576, 0.17407765595569785),
 (4582, 0.17407765595569785),
 (4612, 0.17407765595569785),
 (4627, 0.17407765595569785),
 (4636, 0.17407765595569785),
 (4640, 0.17407765595569785),
 (4647, 0.17407765595569785),
 (4661, 0.17407765595569785),
 (4662, 0.17407765595569785),
 (4720, 0.17407765595569785),
 (4728, 0.17407765595569785),
 (4772, 0.17407765595569785),
 (4782, 0.17407765595569785),
 (4792, 0.17407765595569785),
 (4822, 0.17407765595569785),
 (4848, 0.17407765595569785),
 (4849, 0.17407765595569785),
 (4867, 0.17407765595569785),
 (4872, 0.17407765595569785),
 (4877, 0.17407765595569785),
 (4901, 0.17407765595569785),
 (4904, 0.17407765595569785),
 (4910, 0.17407765595569785),
 (4935, 0.17407765595569785),
 (5016, 0.17407765595569785),
 (5019, 0.17407765595569785),
 (5042, 0.17407765595569785),
 (5046, 0.17407765595569785),
 (5084, 0.17407765595569785),
 (5088, 0.17407765595569785),
 (5140, 0.17407765595569785),
 (5161, 0.17407765595569785),
 (5168, 0.17407765595569785),
 (5187, 0.17407765595569785),
 (5200, 0.17407765595569785),
 (5208, 0.17407765595569785),
 (5225, 0.17407765595569785),
 (5231, 0.17407765595569785),
 (5269, 0.17407765595569785),
 (5305, 0.17407765595569785),
 (5320, 0.17407765595569785),
 (5329, 0.17407765595569785),
 (5362, 0.17407765595569785),
 (5413, 0.17407765595569785),
 (5414, 0.17407765595569785),
 (5417, 0.17407765595569785),
 (34, 0.16724840200141816),
 (50, 0.16724840200141816),
 (102, 0.16724840200141816),
 (140, 0.16724840200141816),
 (143, 0.16724840200141816),
 (228, 0.16724840200141816),
 (232, 0.16724840200141816),
 (258, 0.16724840200141816),
 (273, 0.16724840200141816),
 (280, 0.16724840200141816),
 (313, 0.16724840200141816),
 (390, 0.16724840200141816),
 (393, 0.16724840200141816),
 (458, 0.16724840200141816),
 (511, 0.16724840200141816),
 (532, 0.16724840200141816),
 (533, 0.16724840200141816),
 (553, 0.16724840200141816),
 (718, 0.16724840200141816),
 (727, 0.16724840200141816),
 (768, 0.16724840200141816),
 (842, 0.16724840200141816),
 (856, 0.16724840200141816),
 (864, 0.16724840200141816),
 (900, 0.16724840200141816),
 (925, 0.16724840200141816),
 (927, 0.16724840200141816),
 (944, 0.16724840200141816),
 (945, 0.16724840200141816),
 (995, 0.16724840200141816),
 (1024, 0.16724840200141816),
 (1028, 0.16724840200141816),
 (1046, 0.16724840200141816),
 (1204, 0.16724840200141816),
 (1240, 0.16724840200141816),
 (1278, 0.16724840200141816),
 (1342, 0.16724840200141816),
 (1343, 0.16724840200141816),
 (1357, 0.16724840200141816),
 (1388, 0.16724840200141816),
 (1423, 0.16724840200141816),
 (1471, 0.16724840200141816),
 (1474, 0.16724840200141816),
 (1500, 0.16724840200141816),
 (1525, 0.16724840200141816),
 (1533, 0.16724840200141816),
 (1535, 0.16724840200141816),
 (1560, 0.16724840200141816),
 (1650, 0.16724840200141816),
 (1656, 0.16724840200141816),
 (1796, 0.16724840200141816),
 (1831, 0.16724840200141816),
 (1832, 0.16724840200141816),
 (1862, 0.16724840200141816),
 (1864, 0.16724840200141816),
 (1908, 0.16724840200141816),
 (1952, 0.16724840200141816),
 (2032, 0.16724840200141816),
 (2179, 0.16724840200141816),
 (2220, 0.16724840200141816),
 (2259, 0.16724840200141816),
 (2270, 0.16724840200141816),
 (2273, 0.16724840200141816),
 (2287, 0.16724840200141816),
 (2303, 0.16724840200141816),
 (2327, 0.16724840200141816),
 (2428, 0.16724840200141816),
 (2440, 0.16724840200141816),
 (2452, 0.16724840200141816),
 (2470, 0.16724840200141816),
 (2488, 0.16724840200141816),
 (2553, 0.16724840200141816),
 (2590, 0.16724840200141816),
 (2594, 0.16724840200141816),
 (2595, 0.16724840200141816),
 (2617, 0.16724840200141816),
 (2619, 0.16724840200141816),
 (2620, 0.16724840200141816),
 (2634, 0.16724840200141816),
 (2635, 0.16724840200141816),
 (2648, 0.16724840200141816),
 (2653, 0.16724840200141816),
 (2662, 0.16724840200141816),
 (2684, 0.16724840200141816),
 (2769, 0.16724840200141816),
 (2772, 0.16724840200141816),
 (2807, 0.16724840200141816),
 (2836, 0.16724840200141816),

In [17]:
scores = scores[1:]

In [18]:
#get top 5 movie titles
for movie in scores[:5]:
    mv = df["name"][movie[0]]
    print(mv)

Superman III
Company Business
Behind Enemy Lines
Superman IV: The Quest for Peace
Snow White and the Huntsman

### Collaborative filtering

- Focuses on user behavior.
- Recommends items based on the preferences of users who are similar to the target user.

In [42]:
users = {
    "name":['user1', 'user2', 'user3', 'user4', 'user5']
}
watched_movies = {
    'name': ['user1', 'user1', 'user2', 'user3', 'user3', 'user3', 'user4', 'user4', 'user5', 'user5', 'user5'],
    'movie_index': [1, 21, 21, 2, 32, 4, 2, 1, 21, 7, 8]
}
users = pd.DataFrame(users)
watched_movies = pd.DataFrame(watched_movies)
#Now we join the 2 dataframes into 1 to have a clearer view
users = pd.merge(users, watched_movies, on='name')

In [43]:
users

     name  movie_index
0   user1            1
1   user1           21
2   user2           21
3   user3            2
4   user3           32
5   user3            4
6   user4            2
7   user4            1
8   user5           21
9   user5            7
10  user5            8

In [44]:
# Add a new column with value 1 for each row
users['watched'] = 1

# Use pivot_table to create the matrix
result = users.pivot_table(index='name', columns='movie_index', values='watched', fill_value=0)
result.head()

movie_index   1    2    4    7    8    21   32
name
user1        1.0  0.0  0.0  0.0  0.0  1.0  0.0
user2        0.0  0.0  0.0  0.0  0.0  1.0  0.0
user3        0.0  1.0  1.0  0.0  0.0  0.0  1.0
user4        1.0  1.0  0.0  0.0  0.0  0.0  0.0
user5        0.0  0.0  0.0  1.0  1.0  1.0  0.0

In [26]:
result = result.T
result.head()

name         user1  user2  user3  user4  user5
movie_index
1              1.0    0.0    0.0    1.0    0.0
2              0.0    0.0    1.0    1.0    0.0
4              0.0    0.0    1.0    0.0    0.0
7              0.0    0.0    0.0    0.0    1.0
8              0.0    0.0    0.0    0.0    1.0

In [27]:
correlation = result.corr()

In [29]:
correlation

name      user1     user2     user3     user4     user5
name
user1  1.000000  0.645497 -0.547723  0.300000  0.091287
user2  0.645497  1.000000 -0.353553 -0.258199  0.471405
user3 -0.547723 -0.353553  1.000000  0.091287 -0.750000
user4  0.300000 -0.258199  0.091287  1.000000 -0.547723
user5  0.091287  0.471405 -0.750000 -0.547723  1.000000

In [30]:
# Get movies watched by user1
movies_user1 = users[users['name'] == 'user1']['movie_index'].tolist()

# Find similar users based on correlation from most to least similar
similar_users = correlation['user1'].drop('user1').sort_values(ascending=False)

In [31]:
def get_recommendations(user_movies, similar_users, users):
    # Get movie recommendations for user1 from top 3 neighbors
    movie_recommendations = []
    for user in similar_users.index[:3]:
        #get list of movies watched by neighbors
        movies_similar_user = users[users['name'] == user]['movie_index'].tolist()
        #add not watched movies to the list
        new_movies = [movie for movie in movies_similar_user if movie not in movies_user1]
        #append elements to our list of suggestions
        movie_recommendations.extend(new_movies)

    # Remove duplicates from recommendations
    return list(set(movie_recommendations))

In [32]:
movie_recommendations = get_recommendations(movies_user1, similar_users, users)

print("Recommendations for user1:", movie_recommendations)

Recommendations for user1: [8, 2, 7]

In [33]:
movies_user3 = users[users['name'] == 'user3']['movie_index'].tolist()
similar_users = correlation['user3'].drop('user3').sort_values(ascending=False)

movie_recommendations = get_recommendations(movies_user3, similar_users, users)

print("Recommendations for user3:", movie_recommendations)

Recommendations for user3: [2]